@layout("/common/_curd/_container.html"){

	<form class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _col=[
			
@			  {name:"", index:"id", type:"text",newline:true,length:8},
		@			  {name:"车辆", index:"c_id", type:"text",newline:true,length:8},
		@			  {name:"当前里程数", index:"mileage", type:"text",newline:true,length:8},
		@			  {name:"加油量", index:"gas", type:"text",newline:true,length:8},
		@			  {name:"金额", index:"money", type:"text",newline:true,length:8},
		@			  {name:"日期", index:"date", type:"text",newline:true,length:8},
		@			  {name:"经办人", index:"u_id", type:"text",newline:true,length:8},
		@			  {name:"", index:"version", type:"text",newline:true,length:8}		
		@		   ];
		@ include("/common/_curd/_view.html", {"col":_col}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_close:"关闭"}) {}
	</form>

@}
