@layout("/common/_curd/_container.html"){
<style>
	th{
		text-align:center;
	}
	.ui-jqgrid tr.jqgrow td {
		white-space: normal !important;
		height:auto;
		vertical-align:center;
		padding-top:2px;
	}
</style>
<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";
	
	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});
	
	function initGrid(){

		var grid_url = ctx + "/${code}/list";
		var _colnames = ["", 
						"公文类型", 
						"公文文号", 
						"起草部门", 
						"经办人", 
						"文件名", 
						"主送",
						"抄送", 
						"公文描述", 
						"部门领导批示", 
						"领导班子批示", 
						"总经理批示", 
						"起草日期",
						"进度", 
						"审批意见"];
		var _colmodel = [{name:"id", hidden:true,index:"id", width:100},
						{name:"typename", index:"typename", width:100},
						{name:"num", index:"num", width:100},
						{name:"fullname", index:"fullname", width:100},
						{name:"uname", index:"uname", width:100},
            {name:"title_o", index:"title_o", width:200,align:"left",formatter:function (value, rows, index) {
                    return '<a href="#"  onclick="downs('+"'"+value+"'"+')">'+value+'</a>';
                }},
						{name:"selectname", index:"selectname", hidden:true, width:100},
						{name:"copyman", index:"copyman", hidden:true, width:100},
						{name:"discript", index:"discript", width:100},
						{name:"d_opinion", index:"d_opinion", hidden:true, width:100},
						{name:"l_opinion", index:"l_opinion",  hidden:true,width:100},
						{name:"h_opinion", index:"h_opinion", hidden:true, width:100},
						{name:"date", index:"date", width:100},
						{name:"staname", index:"staname",hidden:true, width:100},
						{name:"issubmit", index:"issubmit", width:150,formatter:function (value, rows, index) {
                                    return '<a href="#" class="btn btn-btn btn-success btn-xs" onclick="sub('+"'"+index.id+"'"+')">'+"我的审批意见"+'</a>'
                            }}];

        var admin = '${admin!}'
        if(admin == true){
            jQuery(grid_selector).jqGrid({
                url : grid_url,
                autowidth:true,
                shrinkToFit : true,
                colNames : _colnames,
                colModel : _colmodel,
                jsonReader : {id :"id"},
                pager : pager_selector,
                postData : {sort : "id",
                    order : "desc"}
            });
        }else {
            jQuery(grid_selector).jqGrid({
                url : grid_url,
                shrinkToFit : true,
                colNames : _colnames,
                colModel : _colmodel,
                jsonReader : {id :"id"},
                pager : pager_selector,
                postData : {sort : "id",
                    where:"{visiable:"+${uid!}+"}",
                    order : "desc"}
            });
        }

        copyman = function (entId) {
            var index = layer.open({
                type: 2,
                title:'查看详情',
                area: ['90%', '70%'],
                maxmin:true,
                shadeClose: true, //点击遮罩关闭
                content:  '/user/userchoose?who=do&&fid='+entId,
            });

            this.layerIndex = index;
        };

        sub = function (entId) {
                var index = layer.open({
                    type: 2,
                    title:'查看详情',
                    area: ['90%', '70%'],
                    maxmin:true,
                    shadeClose: true, //点击遮罩关闭
                    content:  '/files/splog/'+entId
                });

                this.layerIndex = index;
            };
        downs = function (entId) {
            window.location.href = "/files/downs?file="+entId;
        };
	}
</script>


	<!-- 配置 grid -->
	<div class="row">
		<div class="col-xs-12 tb-grid">
			<!-- 配置 查询 -->
			@ var _col=[
			@		{name:"公文类型", index:"typename", type:"text"},
			@		{name:"公文文号", index:"num", type:"text"},
			@		{name:"起草部门", index:"fullname", type:"text"},
			@		{name:"经办人", index:"uname", type:"text"},
			@		{name:"文件名", index:"title_o", type:"text"},
			@		{name:"公文描述", index:"discript", type:"text"},
			@		{name:"进度", index:"staname", type:"text"}
			@];
			@ include("/common/_function/_search3.html",{"col":_col}){}
			<!-- 按钮 -->
			<div class="welljq well-sm" id="btns"></div>
			<!-- grid -->
			<table id="grid-table"></table>
			<!-- 分页-->
			<div id="grid-pager"></div>
		</div>
	</div>
	
	<!-- 引入所需的js -->
	@include("/common/_listscript.html"){}
	
@}	