@layout("/common/_curd/_container.html"){

	<form data-url="${basePath}/${code}/update" method="post" class="form-horizontal" role="form">
		<!-- 表单 -->
		@ var _table="nsl_casher";
		@ var _key="id";
		@ var _col=[
@			  {name:"", index:"id", type:"hidden",newline:true,length:8,required:"required"},
		@			  {name:"报销类别", index:"type", type:"select_105",newline:true,length:8,required:"required"},
		@			  {name:"标题", index:"title", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"报销事由", index:"cause", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"票据张数", index:"num", type:"text",newline:true,length:8,required:"required"},
		@			  {name:"开始时间", index:"start", type:"laydate",newline:true,length:8,required:"required"},
		@			  {name:"结束时间", index:"over", type:"laydate",newline:true,length:8,required:"required"}
		@		   ];
		@ include("/common/_curd/_edit.html", {"col":_col, "table":_table, "key":_key}){}
		
		<!-- 按钮 -->
		@ include("/common/_curd/_btn.html", {btn_save:"修改", btn_close:"关闭"}) {}
	</form>

@}