

@layout("/common/_container.html"){
<!-- include the calendar js and css files -->


<style>
	.content {
		margin-left: 0px;
		width: 98%;
		background: url(../image/nsl.jpg);
		background-position: bottom;
		background-size: cover;
	}
	.s-body-content{
		margin-left: 0px;
		width: 98%;
		background: url(../image/nsl.jpg);
		background-position: bottom;
		background-size: cover;
	}
	.spnum{
		margin: 8px;
		border-radius: 50%;
		height: 20px;
		width: 20px;
		display: inline-block;
		background: #dc3a1e;
		vertical-align: top;
	}
    .s-list-center {
        position: absolute;
        top: 0;
        right: 120px;
    }
    .choose{
        margin: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        background: #00a0e9;
    }
    .unforgot{
        width: 97%;
        height:287px;
        border:1px solid grey;
        border-radius: 5px;
        padding: 20px;
    }
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name=”viewport” content=”width=device-width, initial-scale=1″ />
<title>南絲路集團OA系統</title>
<meta charset="utf-8" />
<link href="../../css/site.css" type="text/css" rel="stylesheet"/>
<link href="../../css/menu.css" rel="stylesheet" />
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<!--<script src="js/list.js"></script>-->
<body>


<!--顶部标题-->
<!--<div class="s-header">-->
<!--<span>宜兴市政府信息化项目管理系统</span>-->
<!--</div>-->
<!--主体-->
<div class="s-content">
	<!--左侧菜单-->
	<!--右侧内容-->
	<div class="s-body">
		<!--正文-->
		<input type="hidden" value="${isfirst!}" id="isfirst"/>
		<div class="s-body-content">
			<div class="s-card" style="width:60%;">
				<div class="s-card-header">
					待办事项
					<a  class="s-card-more">
						<span class="spnum" >
							  <span style="display: block;    color: #FFFFFF;    height: 20px;    line-height: 20px;    text-align: center"> ${indexnum!}</span>
						</span>
					</a>
				</div>
				<div class="s-card-body">
					<ul class="s-list">
						@for(notice in index){
						<li>
							<!--<em class="s-list-item-icon"></em>-->
                            <div>
                                @if(notice.vers == "3"){
                                    <a  class="btn btn-success btn-xs" data-icon="fa fa-cog" >报销</a>
                                @}else if(notice.vers == "1"){
                                    <a  class="btn btn-danger btn-xs" data-icon="fa fa-cog" >文件</a>
                                @}else if(notice.vers == "2"){
                                <a  class="btn btn-warning btn-xs" data-icon="fa fa-cog" >回复</a>
                                @}
                                <a  class="s-list-item-text" data-url="${notice.type}${notice.id}" data-addtabs="view" data-title="待办事项" data-icon="fa fa-cog" class=" tmsp-pointer">${notice.title!}</a>

                                <span class="s-list-center">${notice.uname}</span>
                                @if(!isEmpty(notice.cd)){
                                <span class="s-list-item-time">${notice.cd!"",dateFormat='yyyy-MM-dd'}</span>
                                @}else{
                                <span class="s-list-item-time">${notice.cd!""}</span>
                                @}

                            </div>


						</li>
						@}
					</ul>
				</div>
			</div>

            <div class="s-card" style="width:38%;">
                <div class="s-card-header">
                    公司公告
                    <a   data-url="/notice/" data-addtabs="view" data-title="公司公告" data-icon="fa fa-cog" class="s-card-more">
						<!--<span class="spnum" >-->
							  <!--<span style="display: block;    color: #FFFFFF;    height: 20px;    line-height: 20px;    text-align: center"> 更多》</span>-->
						<!--</span>-->
                        更多>
                    </a>
                </div>
                <div class="s-card-body">
                    <ul class="s-list">
                        @for(notice in allnotice){
                        <li>
                            <em class="s-list-item-icon"></em>
                            <div>
                                <a  class="s-list-item-text" data-url="/notice/view/${notice.f_it_xl!}" data-addtabs="view" data-title="公司公告" data-icon="fa fa-cog" class=" tmsp-pointer">${notice.f_vc_bt!}</a>
                                <!--<span class="s-list-center">${notice.f_vc_bt}</span>-->

                            </div>


                        </li>
                        @}
                    </ul>
                </div>
            </div>


            <div class="s-card" style="width:100%;height: 500px">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="s-card-header">
                            备忘录
                            <a   data-url="" data-addtabs="view" data-title="备忘录" data-icon="fa fa-cog" class="s-card-more">
                            </a>
                        </div>
                        <div class="s-card-body">
                            <div id="my-calendar"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div  style="height: 28px">

                            <a  href="#" id="more" onclick="adds()" class="btn btn-white btn-xs">
                                <i class="ace-icon fa fa-plus green"></i>添加备忘录 </a>
                        </div>
                        <div class="unforgot" id="unforgot">
                            <!--<p>abcde</p>-->
                            <!--<p>dbdedf</p>-->
                        </div>

                    </div>

                </div>
            </div>
        </div>
	</div>
</div>
<script>
    $(function () {
        var h = $(document).height();
        $('.s-menu').css('height', (h - 50) + 'px');
        $('.s-body-content').css('height', (h - 90) + 'px');
        window.onresize = function () {
            var h = $(document).height();
            $('.s-menu').css('height', (h - 50) + 'px');
            $('.s-body-content').css('height', (h - 90) + 'px');
        }
    });
    $(".list_dt").on("click", function () {
        $('.list_dd').stop();
        $(this).siblings("dt").removeAttr("id");
        if ($(this).attr("id") == "open") {
            $(this).removeAttr("id").siblings("dd").slideUp();
        } else {
            $(this).attr("id", "open").next().slideDown().siblings("dd").slideUp();
        }
    });
</script>
<script>

    function adds() {
        var index = layer.open({
            type: 2,
            title: '添加备忘录',
            area: ['70%', '70%'],
            maxmin: true,
            shadeClose: true, //点击遮罩关闭
            content: '/unforgot/add'
        });
    }

    opens = function (href) {
        window.location.href= href;
    };
    function edit(pid) {
        var index = layer.open({
            type: 2,
            title: '查看详情',
            area: ['90%', '70%'],
            maxmin: true,
            shadeClose: true, //点击遮罩关闭
            content: '/user/editMySelf'
        });
    }


    edit = function (entId) {
        var index = layer.open({
            type: 2,
            title:'查看详情',
            area: ['90%', '70%'],
            maxmin:true,
            shadeClose: true, //点击遮罩关闭

            content:  "/myproject/edit/"+ entId,
            end:function () {
                window.location.reload();
            }
        });

        this.layerIndex = index;
    };
    scheme = function (entId) {
        var index = layer.open({
            type: 2,
            title: '查看详情',
            area: ['90%', '70%'],
            maxmin: true,
            shadeClose: true, //点击遮罩关闭

            content: "/projects/scheme?zz=no&&id=" + entId,
            end: function () {
                window.location.reload();
            }
        });
    };
    schemezz = function (entId) {
        var index = layer.open({
            type: 2,
            title: '查看详情',
            area: ['90%', '70%'],
            maxmin: true,
            shadeClose: true, //点击遮罩关闭

            content: "/projects/scheme?zz=yes&&id="+ entId,
            end: function () {
                window.location.reload();
            }
        });
    };
    tohandle = function (entId) {
        var index = layer.open({
            type: 2,
            title: '查看详情',
            area: ['90%', '70%'],
            maxmin: true,
            shadeClose: true, //点击遮罩关闭

            content: "/listcom/tenderto?id="+ entId,
            end: function () {
                window.location.reload();
            }
        });
    };
    handle1 = function (entId) {
        var index = layer.open({
            type: 2,
            title: '上传招标文件',
            area: ['90%', '70%'],
            maxmin: true,
            shadeClose: true, //点击遮罩关闭

            content: "/listcom/handle?id="+ entId,
            end: function () {
                window.location.reload();
            }
        });
    };
</script>







<!--<script type="application/javascript">-->
    <!--$(document).ready(function () {-->
        <!--$("#my-calendar").zabuto_calendar({-->
            <!--ajax: {-->
                <!--url: "show_data.php",-->
                <!--modal: true-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->

<!-- initialize the calendar on ready -->
<script type="application/javascript">
    var date = ${datelist!}
            console.log(date)
    $(document).ready(function () {
        $("#my-calendar").zabuto_calendar({
            data: date,
            cell_border: true,
            today: true,
            show_days: true,
            weekstartson: 0,
            nav_icon: {
                prev: '<i class="fa fa-chevron-circle-left"></i>',
                next: '<i class="fa fa-chevron-circle-right"></i>'
            },
            action: function () {
                return myDateFunction(this.id, false);
            }

        });
        $("#unforgot").empty();//备忘录初始化
        var ajaxURL = "/unforgot/list";
        var ajaxData = {
            u_id:"${uid!}",
            dateformat:"${today}"
        }
        $.post(ajaxURL,ajaxData,function (res) {
            for(var i = 0;i<res.length;i++){
                var j = i+1
                $("#unforgot").append("<p>"+j+"-"+res[i].content+"</p>")//添加子元素
            }
        });
    });

    function myDateFunction(id, fromModal) {
        console.log("click me and id="+id + " and fromModal = " + fromModal)
        var date = $("#" + id).data("date")
        $('.choose').attr("class","day")
        $('#' + id +"_day").attr("class","choose")
        $("#unforgot").empty();//备忘录初始化

        var ajaxURL = "/unforgot/list";
        var ajaxData = {
            u_id:"${uid!}",
            dateformat:date
        }
        $.post(ajaxURL,ajaxData,function (res) {
           console.log(res)
            console.log(res.length)
            for(var i = 0;i<res.length;i++){
                var j = i+1;
                $("#unforgot").append("<p>"+j+"-"+res[i].content+"</p>")//添加子元素
            }
        });

    }


</script>




<script src="/static/calendar/zabuto_calendar.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/calendar/zabuto_calendar.min.css">





</body>
@}
